.modal-open {
    overflow: inherit;
}

.modal {
    overflow-y: scroll;
}

.form-text.counter {
    color: #737373;
}

.btn-nowrap {
    white-space: nowrap;
}

form > .ibox .ibox-footer {
    font-size: 13px;
}

// Autocomplete custom
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;

    strong {
        font-weight: normal;
        color: #3399FF;
    }
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-group {
    padding: 2px 5px;

    strong {
        display: block;
        border-bottom: 1px solid #000;
    }
}


// Select2 Custom
.select2-container.select2-container--default.select2-container--open  {
    z-index: 5000;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}


// TinyMCE Custom
.mce-fullscreen {
    z-index: 2039 !important;
}

#mce-modal-block {
    background: #000;
}


// Toastr Custom
#toast-container > .toast-warning:before {
    content: "";
}
#toast-container > .toast-error:before {
    content: "";
}
#toast-container > .toast-info:before {
    content: "";
}
#toast-container > .toast-success:before {
    content: "";
}


// SweetAlert Custom
.swal2-popup {
    font-size: 16px;
}

.swal2-container {
    z-index: 9999;
}


// DataTables Custom
table.dataTable {
    width: 100% !important;
}

// Codemirror custom
.CodeMirror {
    height: 300px;
}

// Calendar
.calendar {
    .fc-event-container a.fc-event.btn-default {
        color: #000;
    }

    .btn-primary {
        background-color: $navy;
        border-color: $navy;
        color: #FFFFFF;

        &:hover {
            background-color: darken($navy, 3%);
            border-color: darken($navy, 3%);
            color: #FFFFFF;
        }
    }

    .btn-success {
        background-color: $blue;
        border-color: $blue;
        color: #FFFFFF;

        &:hover {
            background-color: darken($blue, 3%);
            border-color: darken($blue, 3%);
            color: #FFFFFF;
        }
    }

    .btn-info {
        background-color: $lazur;
        border-color: $lazur;
        color: #FFFFFF;

        &:hover {
            background-color: darken($lazur, 3%);
            border-color: darken($lazur, 3%);
            color: #FFFFFF;
        }
    }

    .btn-warning {
        background-color: $yellow;
        border-color: $yellow;
        color: #FFFFFF;

        &:hover {
            background-color: darken($yellow, 3%);
            border-color: darken($yellow, 3%);
            color: #FFFFFF;
        }
    }

    .btn-danger {
        background-color: $red;
        border-color: $red;
        color: #FFFFFF;

        &:hover {
            background-color: darken($red, 3%);
            border-color: darken($red, 3%);
            color: #FFFFFF;
        }
    }

    .btn-default {
        color: inherit;
        background: white;
        border: 1px solid $border-color;

        &:hover {
            color: inherit;
            border: 1px solid #d2d2d2;
        }
    }
}
