.modal-open {
    overflow: inherit;
}

.mce-fullscreen {
    z-index: 10000;
}

.select2-container.select2-container--default.select2-container--open  {
    z-index: 5000;
}

.post-drag {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1ab394;
    padding: 6px 12px;
    position: absolute;
    top: 0px;
    right: 0;
    cursor: move;
}

.row.view {
    display: none;
}

.row.view.active {
    display: block;
}

#toast-container > .toast-warning:before {
    content: "";
}
#toast-container > .toast-error:before {
    content: "";
}
#toast-container > .toast-info:before {
    content: "";
}
#toast-container > .toast-success:before {
    content: "";
}

#uploader-area {
    border: 10px dashed #999;
    text-align: center;
    color: #999;
    font-size: 20px;
    line-height: 300px;
    cursor: pointer;
}

#uploader-area.dragover {
    background: rgba(255, 255, 255, 0.4);
    border-color: green;
}

.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "\f07c";
}

.jstree-default .jstree-icon.none {
    width: 0;
}
