.metismenu .plus-minus, .metismenu .plus-times {
  float: right
}

.metismenu .arrow {
  float: right;
  line-height: 1.42857
}

.metismenu .glyphicon.arrow:before {
  content: "\e079"
}

.metismenu .mm-active > a > .glyphicon.arrow:before {
  content: "\e114"
}

.metismenu .fa.arrow:before {
  content: "\f104"
}

.metismenu .mm-active > a > .fa.arrow:before {
  content: "\f107"
}

.metismenu .ion.arrow:before {
  content: "\f3d2"
}

.metismenu .mm-active > a > .ion.arrow:before {
  content: "\f3d0"
}

.metismenu .fa.plus-minus:before, .metismenu .fa.plus-times:before {
  content: "\f067"
}

.metismenu .mm-active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.metismenu .mm-active > a > .fa.plus-minus:before {
  content: "\f068"
}

.metismenu .mm-collapse {
  display: none
}

.metismenu .mm-collapse.mm-show {
  display: block
}

.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility
}

.mini-navbar {
  .metismenu .mm-collapse {
    opacity: 0;
  }
  .metismenu .mm-collapse.mm-show {
    opacity: 1;
  }
  .metismenu .mm-collapse a {
    display: none
  }
  .metismenu .mm-collapse.mm-show a {
    display: block
  }
}
